In [52]:
import sqlite3
import pandas as pd
TABLE_NAME = "TEST"

In [56]:
conn = sqlite3.connect(f'{TABLE_NAME}.db')
cursor = conn.cursor()

In [57]:
cursor.execute(f"DROP TABLE IF EXISTS {TABLE_NAME}")

In [58]:
# Creating table
table = """ 
    create table IF NOT EXISTS TEST(
        ID INTEGER PRIMARY KEY NOT NULL,
        FNAME VARCHAR(20), 
        LNAME VARCHAR(20),
        CITY VARCHAR(20),
        CCODE CHAR(2),
        AGE INT);
    """

cursor.execute(table)

print("Table is Ready")

Table is Ready

In [59]:
cursor.execute('''
    insert into TEST values (1, 'Rav', 'Ahuja', 'TORONTO', 'CA', 23)
''')

In [60]:
cursor.execute('''
    insert into TEST values (2, 'Raul', 'Chong', 'Markham', 'CA', 33),
                                 (3, 'Hima', 'Vasudevan', 'Chicago', 'US', 32)
''')

In [61]:
statements = [
    'SELECT * FROM TEST',
    'SELECT CCODE FROM TEST',
    "UPDATE TEST SET FNAME='Alicja' WHERE CCODE='US'"
]

In [36]:
cursor.execute(statements[0])
cursor.fetchall()

[(1, 'Rav', 'Ahuja', 'TORONTO', 'CA', 23),
 (2, 'Raul', 'Chong', 'Markham', 'CA', 33),
 (3, 'Hima', 'Vasudevan', 'Chicago', 'US', 32)]

In [38]:
cursor.execute(statements[0])
cursor.fetchmany(2)

[(1, 'Rav', 'Ahuja', 'TORONTO', 'CA', 23),
 (2, 'Raul', 'Chong', 'Markham', 'CA', 33)]

In [40]:
cursor.execute(statements[1])
cursor.fetchmany(2)

[('CA',), ('CA',)]

In [48]:
cursor.execute(statements[2])
cursor.fetchmany(2)

[]

In [51]:
cursor.execute(statements[0])
cursor.fetchall()

[(1, 'Rav', 'Ahuja', 'TORONTO', 'CA', 23),
 (2, 'Raul', 'Chong', 'Markham', 'CA', 33),
 (3, 'Alicja', 'Vasudevan', 'Chicago', 'US', 32)]

In [53]:
df = pd.read_sql_query('SELECT * FROM TEST', conn)

In [54]:
df

   ID   FNAME      LNAME     CITY CCODE  AGE
0   1     Rav      Ahuja  TORONTO    CA   23
1   2    Raul      Chong  Markham    CA   33
2   3  Alicja  Vasudevan  Chicago    US   32

In [55]:
conn.close()  # removes the NAME.db-journal
# A rollback journal is a temporary file used to implement atomic commit and rollback capabilities in SQLite.
# -journal files should only exist when there is an open SQLite database - or rather, a running transaction
# Make sure to only copy the actual database files when the database is not opened and all journals have been deleted (or cleared) by SQLite itself;
# this implies all transactions have been completed and the database is in a consistent state.